<% title "Phone Bank Lists" %>

<%= render :partial => 'nav_menu' %>

<table border='0' cellpadding='6' cellspacing='0' width="100%">
  <tr>
		<th align="center">Date Created</th>
    <th align="center">Phone Bank List Name</th>
    <th align="right">Voter Count</th>
  </tr>
  <% for phone_bank_list in @phone_bank_lists %>
    <tr>
			<td align="center"><%=format_date phone_bank_list.created_at %>
      <td align="center"><%=h phone_bank_list.name %></td>
      <td align="right"><%=phone_bank_list.populated? ? number_with_delimiter(phone_bank_list.constituent_count) : '*Populating' %></td>
      <td>&nbsp;&nbsp;<%= link_to "Show", phone_bank_list %></td>
      <!--<td> &nbsp;<%= link_to "Edit", edit_phone_bank_list_path(phone_bank_list) %></td>-->
      <td> &nbsp;<%= link_to "Delete", phone_bank_list, :confirm => 'Are you sure you wish to permanently delete this Phone Bank List?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

