<% form_for @walksheet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

	<% accordions_for do |accordion| %>

	<% accordion.create("geo", "&nbsp;&nbsp;&nbsp;&nbsp;GEOGRAPHIC FILTERS") do %>

		<% if @walksheet.political_campaign.class.to_s == 'FederalCampaign' %>
			<% if @walksheet.political_campaign.congressional_district %>
				<p>
					<%= render :partial => 'council_district_filter', :locals =>  { :council_district_filter => @walksheet.council_district_filter, :council_districts => @walksheet.political_campaign.congressional_district.council_districts } %>
				</p>

			<% else %>
				<p>
					<%= render :partial => 'council_district_filter', :locals =>  { :council_district_filter => @walksheet.council_district_filter, :council_districts => @walksheet.political_campaign.state.council_districts } %>
				</p>

			<% end %>
		<% end %>

		<% if @walksheet.political_campaign.class.to_s == 'StateCampaign' %>
			<% if @walksheet.political_campaign.house_district %>
				<p>
					<%= render :partial => 'council_district_filter', :locals =>  { :council_district_filter => @walksheet.council_district_filter, :council_districts => @walksheet.political_campaign.house_district.council_districts } %>
				</p>
			<% elsif @walksheet.political_campaign.senate_district %>
				<p>
					<%= render :partial => 'council_district_filter', :locals =>  { :council_district_filter => @walksheet.council_district_filter, :council_districts => @walksheet.political_campaign.senate_district.council_districts } %>
				</p>

			<% else %>
				<p>
					<%= render :partial => 'council_district_filter', :locals =>  { :council_district_filter => @walksheet.council_district_filter, :council_districts => @walksheet.political_campaign.state.council_districts } %>
				</p>

			<% end %>
	
		<% end %>

		<% if @walksheet.political_campaign.class.to_s == 'CountyCampaign' %>

			<% if @walksheet.political_campaign.council_district.nil? %>
				<p>
					<%= render :partial => 'council_district_filter', :locals =>  { :council_district_filter => @walksheet.council_district_filter, :council_districts => @walksheet.political_campaign.county.council_districts.all } %>
				</p>
			<% end %>
		
		<% end %>

		<% if @walksheet.political_campaign.class.to_s == 'MunicipalCampaign' %>
			<% if @walksheet.political_campaign.municipal_district.nil? %>
				<p>
					<%= render :partial => 'municipal_district_filter', :locals =>  { :municipal_district_filter => @walksheet.municipal_district_filter, :municipal_districts => @walksheet.political_campaign.city.municipal_districts.all } %>
				</p>
			<% end %>

		<% end %>

		<p>
			<%= render :partial => 'precinct_filter', :locals =>  { :precinct_filter => @walksheet.precinct_filter, :precincts => @walksheet.political_campaign.precincts } %>
		</p>
	
			<%= render :partial => 'map/form' %>
	<% end %>

	<% accordion.create("dem", "&nbsp;&nbsp;&nbsp;&nbsp;DEMOGRAPHIC FILTERS") do %>

	<p>
		<%= render :partial => 'age_filter', :locals =>  { :age_filter => @walksheet.age_filter } %>
	</p>

	<p>
		<%= render :partial => 'sex_filter', :locals => { :sex_filter => @walksheet.sex_filter } %>
	</p>

	<p>
		Party: <i>(leave blank for all)</i><br />
		<div id="party_group">
		<% Party.all.each do |party| %>
			<%= check_box_tag "walksheet[party_ids][]", party.id, @walksheet.party_filters.map(&:int_val).include?(party.id), :index => nil %>
			<%=h party.name %> &nbsp;
		<% end %>
		</div>
	</p>
	<% end %>

	<% accordion.create("vh", "&nbsp;&nbsp;&nbsp;&nbsp;VOTING HISTORY FILTERS") do %>

	<%= render :partial => 'voting_history_type_filter', :locals => { :voting_history_type_filter => @walksheet.voting_history_type_filter } %>
		
		<table id ="voting_history_group" class="form_table">
		<% Election.all.each_with_index do |election,index| %>
			<tr id="tr_<%=election.id %>" class="<%= cycle("even","odd") %>">
			<td><%= check_box_tag "walksheet[election_ids][]", election.id, @walksheet.voting_history_filters.map(&:int_val).include?(election.id), :index => nil %> <%=h election.description %></td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Voted',  @walksheet.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Voted') %> Voted</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Didn\'t Vote', @walksheet.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Didn\'t Vote') %> Didn't Vote</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Abs', @walksheet.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Abs') %> Abs</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Polls', @walksheet.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Polls') %> Polls</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Provisional', @walksheet.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Provisional') %> Provisional</td>
		</tr>	
		<% end %>
	</table>	
	<% end %>
	<% end %>

	</hr />

	<%= render :partial => 'gis_region', :locals =>  { :gis_region => @walksheet.gis_region } %>

  <p><%= f.submit @walksheet.new_record? ? 'Create Walk Sheet' : 'Save Changes', { :onclick => "set_map_values();" } %></p>
<% end %>
