<% form_for @walksheet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

	<% if @walksheet.political_campaign.gis_regions.size > 0 %>
		<h3>GEOGRAPHIC FILTERS:</h3>	

		<p>
			<%= render :partial => 'gis_region_filter', :locals =>  { :gis_region_filter => @walksheet.gis_region_filter } %>
		</p>
		
	<% end %>

	<h3>DEMOGRAPHIC FILTERS:</h3>

	<p>
		<%= render :partial => 'age_filter', :locals =>  { :age_filter => @walksheet.age_filter } %>
	</p>

	<p>
		<%= render :partial => 'sex_filter', :locals => { :sex_filter => @walksheet.sex_filter } %>
	</p>

	<p>
		Party: <i>(leave blank for all)</i><br />
		<% Party.all.each do |party| %>
			<%= check_box_tag "walksheet[party_ids][]", party.id, @walksheet.party_filters.map(&:int_val).include?(party.id), :index => nil %>
			<%=h party.name %> &nbsp;
		<% end %>
	</p>

	</hr />

  <p><%= f.submit @walksheet.new_record? ? 'Create Walk Sheet' : 'Save Changes' %></p>
<% end %>
