<% form_for @walksheet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

	<p>
		<%= render :partial => 'age_filter', :locals =>  { :age_filter => @walksheet.age_filter } %>
	</p>

	<p>
		<%= render :partial => 'sex_filter', :locals => { :sex_filter => @walksheet.sex_filter } %>
	</p>

	<p>
		Party: <i>(leave blank for all)</i><br />
		<% Party.all.each do |party| %>
			<%= check_box_tag "walksheet[party_ids][]", party.id, @walksheet.party_filters.map(&:int_val).include?(party.id), :index => nil %>
			<%=h party.name %> &nbsp;
		<% end %>
	</p>

  <p><%= f.submit %></p>
<% end %>
