<p align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="10" align="center">
	<tr>
	<% if @walksheets %>
		<td><%=link_to 'Add New Walk Sheet', new_walksheet_path %></td>
		<td><%=link_to 'Refresh Walk Sheets', walksheets_path %></td>
	<% end %>	
	<% if @walksheet && !@walksheet.new_record? %>
		<td><%=link_to 'List Walk Sheets', walksheets_path %></td>
		<td><%= link_to 'View Walk Sheet', @walksheet %></td>
		<td><%= link_to 'Edit Walk Sheet', edit_walksheet_path(@walksheet) %></td>
		<td><%= link_to 'Delete Walk Sheet', @walksheet, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
  <% end %>
</table>
</p>
