<% title "New Walk Sheet" %>
<%=stylesheet 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui' %>
<%=javascript 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', 'application', 'walksheet_form' %>
<%= include_google_javascript %>
<%= new_init_map %>
<%= init_map_new_poly %>
<%= init_map_delete_current_poly %>
<%= init_map_save_current_polys %>
<%= init_map_update_map_precinct %>

<%= render :partial => 'form' %>

<p><%= link_to "Cancel and return to Walk Sheets", walksheets_path %></p>
