<% title "Walksheet" %>

<p>
  <strong>Name:</strong>
  <%=h @walksheet.name %>
</p>
<p>
  <strong>Consituent Count:</strong>
  <%=@walksheet.populated? ? number_with_delimiter(@walksheet.consituent_count) : '*Populating' %>
</p>

<h2>FILTERS:</h2>

<p>
  <strong>Age Range:</strong>
  <% if @walksheet.age_filter %>
	  <%= @walksheet.age_filter.int_val %> to <%= @walksheet.age_filter.max_int_val %>
	<% else %>
		All  
	<% end %>
</p>

<p>
  <strong>Sex:</strong>
  <% if @walksheet.sex_filter %>
	  <%=h @walksheet.sex_filter.string_val %>
	<% else %>
		All  
	<% end %>
</p>

<p>
	<strong>Party:</strong>
	<% if @walksheet.party_filters.size > 0 %>
		<% @walksheet.party_filters.each do |party| %>
			<%=h party.party.name %>, 
		<% end %>
	<% else %>
		All
	<% end %>
</p>

<p>
  <%= link_to "Edit", edit_walksheet_path(@walksheet) %> |
  <%= link_to "Destroy", @walksheet, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", walksheets_path %>
</p>
