<% title "Walksheet" %>

<p>
  <strong>Name:</strong>
  <%=h @walksheet.name %>
</p>
<p>
  <strong>Consituent Count:</strong>
  <%=@walksheet.populated? ? number_with_delimiter(@walksheet.consituent_count) : '*Populating' %>
</p>

<h3>DEMOGRAPHIC FILTERS:</h3>

<% if @walksheet.age_filter %>
<p>
  <strong>Age Range:</strong>
	  <%= @walksheet.age_filter.int_val %> to <%= @walksheet.age_filter.max_int_val %>
</p>
<% end %>

<% if @walksheet.sex_filter %>
<p>
  <strong>Sex:</strong>
	  <%=h @walksheet.sex_filter.string_val %>
</p>
<% end %>

<% if @walksheet.party_filters.size > 0 %>
<p>
	<strong>Party:</strong>
	<% @walksheet.party_filters.each do |party| %>
		<%=h party.party.name %>, 
	<% end %>
</p>
<% end %>

<hr />

<p>
  <%= link_to "Edit", edit_walksheet_path(@walksheet) %> |
  <%= link_to "Destroy", @walksheet, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", walksheets_path %>
</p>
