<% title "Walk Sheet: #{h(@walksheet.name)}" %>

<%= render :partial => 'nav_menu' %>

<p>
  <strong>Constituent Count:</strong>
  <%=@walksheet.populated? ? number_with_delimiter(@walksheet.constituent_count) : '*Populating' %>
</p>

<h3>DEMOGRAPHIC FILTERS:</h3>

<% if @walksheet.age_filter %>
<p>
  <strong>Age Range:</strong>
	  <%= @walksheet.age_filter.int_val %> to <%= @walksheet.age_filter.max_int_val %>
</p>
<% end %>

<% if @walksheet.sex_filter %>
<p>
  <strong>Sex:</strong>
	  <%=h @walksheet.sex_filter.string_val %>
</p>
<% end %>

<% if @walksheet.party_filters.size > 0 %>
<p>
	<strong>Party:</strong>
	<%= @walksheet.party_filters.map { |f| Party.find(f.int_val).name }.join(',') %>
</p>
<% end %>

