<% title "Canvass List: #{@walksheet.name}" %>

<%= render :partial => 'nav_menu' %>

<p>
  <strong>Voter Count:</strong>
  <%=@walksheet.populated? ? number_with_delimiter(@walksheet.constituent_count) : '*Populating' %>
	<% if @walksheet.populated? %>
		<%=link_to 'Print Canvass List', walksheet_report_path(@walksheet.id, :report_type => 'walksheet', :format => 'pdf') %>
	<% end %>
</p>

<h3>GEOGRAPHIC FILTERS:</h3>	

<% if @walksheet.precinct_filter %>
	<p>
		<strong>Precinct:</strong> 
			<%=h @walksheet.precinct_filter.string_val %>
	</p>
<% end %>

<% if @walksheet.council_district_filter %>
	<p>
		<strong>Council District:</strong> 
			<%=h @walksheet.council_district_filter.string_val %>
	</p>
<% end %>

<% if @walksheet.gis_region %>
	<p>
		<strong><%=h @walksheet.gis_region.geom2.size %> Custom Map Routes: </strong> 
			<%=link_to 'View Routes On Map', gis_region_path(@walksheet.gis_region), { :target => "_blank" } %>
	</p>
<% end %>

<h3>DEMOGRAPHIC FILTERS:</h3>

<% if @walksheet.age_filter %>
<p>
  <strong>Age Range:</strong>
	  <%= @walksheet.age_filter.int_val %> to <%= @walksheet.age_filter.max_int_val %>
</p>
<% end %>

<% if @walksheet.sex_filter %>
<p>
  <strong>Sex:</strong>
	  <%=h @walksheet.sex_filter.string_val %>
</p>
<% end %>

<% if @walksheet.party_filters.size > 0 %>
<p>
	<strong>Party:</strong>
	<%= @walksheet.party_filters.map { |f| Party.find(f.int_val).name }.join(',') %>
</p>
<% end %>

<h3>VOTING HISTORY FILTERS:</h3>

<% if @walksheet.voting_history_type_filter %>
	<p>Include voters who did <%=h @walksheet.voting_history_type_filter.string_val %> 
	<% if ['At Least', 'Exactly', 'No More Than'].include?(@walksheet.voting_history_type_filter.string_val) %>
	<%= @walksheet.voting_history_type_filter.int_val %> 
	<% end %>
	of the following:</p>
<% end %>

<% if @walksheet.voting_history_filters.size > 0 %>
<p>
	<% @walksheet.voting_history_filters.each do |f| %>
	<strong><%=h f.election.description %></strong> <%=h f.string_val %><br />
	<% end %>
</p>
<% end %>
