<% title "GIS Regions" %>

<table>
  <tr>
    <th>Name</th>
    <th>Political Campaign</th>
  </tr>
  <% for gis_region in @gis_regions %>
    <tr>
      <td><%=h gis_region.name %></td>
      <td><%=h gis_region.political_campaign.campaign_description %></td>
      <td><%= link_to "Show", gis_region %></td>
      <td><%= link_to "Edit", edit_gis_region_path(gis_region) %></td>
      <td><%= link_to "Destroy", gis_region, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Gis Region", new_gis_region_path %></p>
