<% title 'New GIS Region' %>
<%= javascript :defaults, 'new_region' %>
<%= include_google_javascript %>
<%= gis_new_init_map %>
<%= init_new_poly %>
<%= init_delete_current_poly %>
<%= init_save_current_polys %>
<%= init_update_map_precinct %>

<%= render :partial => 'nav_menu' %>

<p>
	<ol>
		<li>Choose a Precinct: <%= select_tag(:precinct_code, options_for_select(@precincts, { :include_blank => true }),  { :onchange => 'update_map_precinct(this);' }) %> </li>
		<li>"Clusters" will appear on your map in red, yellow, and blue.  Clusters indicate the number of addresses existing in proximity to the area.  Zooming in will provide more detail.</li>
		<li>Use the Draw New Region button to create shapes on the map.</li>
		<li>Outline your new region on the map below by clicking the points that outline the border of the region.</li>
		<li>You may click and hold any point to drag and manipulate the shape of your region.</li>
		<li>Click inside of your region at anytime to do a quick check of how many potential voters exist in the area you have drawn.</li>
		<li><b><u>*YOU MUST CLICK ON THE SAVE REGION BUTTON TO SAVE ALL OF YOUR SHAPES WHEN YOU ARE FINISHED DRAWING THEM *</u></b></li>
	</ol>
</p>

<table cellpadding="5" cellspacing="25" border="0">
	<tr>
		<td>
			<input type="button" value="Draw New Region" onclick="init_new_poly();" />
		</td>
		<td>
			<input type="button" value="Delete Current Region" onclick="delete_current_poly();" />
		</td>
		<td>
			<input type="button" value="Save GIS Region" onclick="save_current_polys();" />
		</td>
	</tr>	
</table>

<%= google_map :width => 940, :height => 465 %>


