<% title 'New GIS Region' %>
<%= javascript :defaults %>
<%= include_google_javascript %>
<%= gis_new_init_map %>
<%= render :partial => 'nav_menu' %>
<p>
  <strong>Political Campaign:</strong>
  <%=h @gis_region.political_campaign.campaign_description %>
</p>

<%= google_map :width => 940, :height => 465 %>


