<% title 'New GIS Region' %>
<%= javascript :defaults %>
<%= include_google_javascript %>
<%= gis_new_init_map %>
<%= render :partial => 'nav_menu' %>

<p>
	<ol>
		<li>Outline your new region on the map below by clicking the points that outline the border of the region.</li>
		<li>You may click and hold any point to drag and manipulate the shape of your region.</li>
		<li>Click on the last point twice when you are finished drawing your region.</li>
		<li><b><u>*YOU MUST CLICK ON YOUR COMPLETED REGION TO SAVE IT*</u></b></li>
	</ol>
</p>

<%= google_map :width => 940, :height => 465 %>


