<% title 'New GIS Region' %>
<%= javascript :defaults, 'new_region' %>
<%= include_google_javascript %>
<%= gis_new_init_map %>
<%= init_new_poly %>
<%= init_delete_current_poly %>

<%= render :partial => 'nav_menu' %>

<p>
	<ol>
		<li>Use the Draw New Region button to create shapes on the map.</li>
		<li>Outline your new region on the map below by clicking the points that outline the border of the region.</li>
		<li>Click any point twice to complete drawing your region.</li>
		<li><b><u>*YOU MUST INPUT A NAME FOR YOUR REGION AND CLICK ON THE SAVE BUTTON WHEN PROMPTED TO SAVE YOUR REGION*</u></b></li>
	</ol>
</p>

<table>
	<tr>
		<td>
			<input type="button" value="Draw New Region" onclick="init_new_poly();" />
		</td>
		<td>
			<input type="button" value="Delete Current Region" onclick="delete_current_poly();" />
		</td>
	</tr>	
</table>

<%= google_map :width => 940, :height => 465 %>


