<% form_for @sms_list do |f| %>
  <%= f.error_messages %>

	<p>
		<input type="button" value="Update Current Voter Count" onclick="calc_current_voter_count();" />&nbsp;&nbsp;
		<strong>Current Voter Count: 
		<span id="current_voter_count"><%=number_with_delimiter @sms_list.current_voter_count.nil? ? 0 : @sms_list.current_voter.count %></span></strong>
	</p>

	<h3 id="geo" class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
	<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;GEOGRAPHIC FILTERS</a>
	</h3>
	<div id="geo_box">
		<% if @sms_list.political_campaign.class.to_s == 'FederalCampaign' %>
			<% if @sms_list.political_campaign.congressional_district %>
				<p>
					<%= render :partial => 'contact_lists/council_district_filter', :locals =>  { :council_district_filter => @sms_list.council_district_filter, :council_districts => @sms_list.political_campaign.congressional_district.council_districts, :form => f } %>
				</p>

			<% else %>
				<p>
					<%= render :partial => 'contact_lists/council_district_filter', :locals =>  { :council_district_filter => @sms_list.council_district_filter, :council_districts => @sms_list.political_campaign.state.council_districts, :form => f } %>
				</p>

			<% end %>
		<% end %>

		<% if @sms_list.political_campaign.class.to_s == 'StateCampaign' %>
				<p>
					<%= render :partial => 'contact_lists/council_district_filter', :locals =>  { :council_district_filter => @sms_list.council_district_filter, :council_districts => @sms_list.political_campaign.council_districts, :form => f } %>
				</p>
		<% end %>

		<% if @sms_list.political_campaign.class.to_s == 'CountyCampaign' %>

			<% if @sms_list.political_campaign.council_district.nil? %>
				<p>
					<%= render :partial => 'contact_lists/council_district_filter', :locals =>  { :council_district_filter => @sms_list.council_district_filter, :council_districts => @sms_list.political_campaign.county.council_districts.all, :form => f } %>
				</p>
			<% end %>
		
		<% end %>

		<% if @sms_list.political_campaign.class.to_s == 'MunicipalCampaign' %>
			<% if @sms_list.political_campaign.municipal_district.nil? %>
				<p>
					<%= render :partial => 'contact_lists/municipal_district_filter', :locals =>  { :municipal_district_filter => @sms_list.municipal_district_filter, :municipal_districts => @sms_list.political_campaign.city.municipal_districts.all, :form => f } %>
				</p>
			<% end %>

		<% end %>

		<p>
			<%= render :partial => 'contact_lists/precinct_filter', :locals =>  { :precinct_filter => @sms_list.precinct_filter, :precincts => @sms_list.political_campaign.precincts, :form => f } %>
		</p>
	
		<p>
			<%= render :partial => 'map/form' %>
		</p>	
	</div>

	<h3 id="dem" class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
	<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;DEMOGRAPHIC FILTERS</a></h3>
	<div id="dem_box" style="display: none;">
	<p>
		<%= render :partial => 'contact_lists/age_filter', :locals =>  { :age_filter => @sms_list.age_filter, :form => f } %>
	</p>

	<p>
		<%= render :partial => 'contact_lists/sex_filter', :locals => { :sex_filter => @sms_list.sex_filter, :form => f } %>
	</p>

	<p>
		Party: <i>(leave blank for all)</i>
		<div id="party_group">
		<p>
		<% Party.all.each do |party| %>
			<%= check_box_tag "sms_list[party_ids][]", party.id, @sms_list.party_filters.map(&:int_val).include?(party.id), :index => nil %>
			<%=h party.name %> &nbsp;
		<% end %>
		</p>
		</div>
	</p>
	</div>

	<h3 id="vh" class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
	<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;VOTING HISTORY FILTERS</a></h3>
	<div id="vh_box" style="display: none;">
	<%= render :partial => 'contact_lists/voting_history_type_filter', :locals => { :voting_history_type_filter => @sms_list.voting_history_type_filter, :form => f, :record => @sms_list } %>
		
		<table id ="voting_history_group" class="form_table">
		<% Election.all.each_with_index do |election,index| %>
			<tr id="tr_<%=election.id %>" class="<%= cycle("even","odd") %>">
			<td><%= check_box_tag "sms_list[election_ids][]", election.id, @sms_list.voting_history_filters.map(&:int_val).include?(election.id), :index => nil %> <%=h election.description %></td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Voted',  @sms_list.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Voted') %> Voted</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Didn\'t Vote', @sms_list.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Didn\'t Vote') %> Didn't Vote</td>
			<!--<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Abs', @sms_list.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Abs') %> Abs</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Polls', @sms_list.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Polls') %> Polls</td>
			<td><%= radio_button_tag "voting_history_filter_attributes[string_val][#{election.id}]", 'Provisional', @sms_list.voting_history_filters.exists?(:int_val => election.id, :string_val => 'Provisional') %> Provisional</td>-->
		</tr>	
		<% end %>
	</table>	
	</div>

	</hr />

	<%= render :partial => 'contact_lists/gis_region', :locals =>  { :gis_region => @sms_list.gis_region, :form => f } %>

  <p>
    <%= f.label :name, 'Enter a unique name for this SMS List:' %><br />
    <%= f.text_field :name %>
  </p>

  <p>
  	<%= f.hidden_field :upload_list %>
  	<%= f.submit @sms_list.new_record? ? 'Create SMS List' : 'Save Changes', { :onclick => "set_map_values();" } %></p>
<% end %>
