<p align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="10" align="center">
	<tr>
	<% if @sms_lists %>
		<td><%=link_to 'Create SMS List', new_sms_list_path %></td>
		<td><%=link_to 'Refresh SMS Lists', sms_lists_path %></td>
	<% end %>	
	<% if @sms_list && !@sms_list.new_record? %>
		<td><%=link_to 'List SMS Lists', sms_lists_path %></td>
		<td><%= link_to 'View SMS List', @sms_list %></td>
		<td><%= link_to 'Delete SMS List', @sms_list, :confirm => 'Are you sure you want to permanently delete this SMS List?', :method => :delete %></td>
		<% if @sms_list.schedule == false %>
			<td><%= link_to 'Schedule', edit_sms_list_path(@sms_list) %></td>
		<% end %>	
		<% if @sms_list.schedule && @sms_list.status == 'Scheduled' %>
			<td><%= link_to "Unschedule", unschedule_sms_list_path(@sms_list), :confirm => 'Are you sure you wish to cancel the Scheduled sending to this SMS List?' %></td>
		<% end %>	
	</tr>
  <% end %>
</table>
</p>
