<div id="answer_<%= "#{@sequence}" %>" class="answer">
<% fields_for "survey[questions_attributes][][answers_attributes][]", survey_answer do |f| %>
	<p>
		Key: <%= f.select :answer_key, SurveyAnswer::VALID_KEYS, :index => nil %>
	</p>

	<p>
		Answer: <%= f.text_field :answer_text, :index => nil %>
		<% if survey_answer.new_record? %>
			<%= link_to_function "remove", "$('div#answer_#{@sequence}').remove()" %>
		<% else %>
			<%= link_to_function "remove", "mark_for_destroy(this)" %>
			<%= f.hidden_field :should_destroy, :index => nil %>
			<%= f.hidden_field :id, :index => nil, :class => 'should_destroy' %>
		<% end %>
	</p>
<% end %>
</div>

