<% title "Federal Campaign: #{@federal_campaign.campaign_description}" %>

<%= render :partial => 'nav_menu' %><p>

<p>
	<strong># Of Voters:</strong> 
<%=@federal_campaign.populated? ? number_with_delimiter(@federal_campaign.constituent_count) : '*Populating' %>
</p>

<p>
  <strong>Candidate Name:</strong>
  <%=h @federal_campaign.candidate_name %>
</p>
<p>
  <strong>State:</strong>
  <%=h @federal_campaign.state.name %>
</p>
<p>
  <strong>Seat Type:</strong>
  <%=h @federal_campaign.seat_type %>
</p>
<p>
  <strong>Congressional District:</strong>
  <%=h @federal_campaign.congressional_district.cd rescue nil %>
</p>
<p>
  <strong>Organization:</strong>
  <%=link_to h(@federal_campaign.organization.name), @federal_campaign.organization %>
</p>

