<div id="step_1" class="step">

<h1>Step 1: &nbsp;Enter your Organization information:</h1>

<i>* required fields</i>

<% form.fields_for :organization do |org_form| %>

<p><strong><%= org_form.label :organization_type_id, '*Your Organization Type:' %></strong><br />
<%= org_form.collection_select(:organization_type_id, OrganizationType.all, :id, :name, { :prompt => true }, { :class => 'required' }) %>    
</p>

<p><strong><%= org_form.label :name, '*Organization Name:' %></strong><br />
	<%= org_form.text_field :name, :size => 40, :class => 'required' %>
</p>

<p><strong><%= org_form.label :email, '*Organization Email:' %></strong><br />
	<%= org_form.text_field :email, :size => 50, :class => 'required' %>
</p>

<p><strong><%= org_form.label :phone, '*Phone:' %></strong><br />
	<%= org_form.text_field :phone_area_code, { :maxlength => '3', :class => '', :size => '3' } %> -
  <%= org_form.text_field :phone_prefix, { :maxlength => '3', :class => '', :size => '3' } %> -
	<%= org_form.text_field :phone_suffix, { :maxlength => '4', :class => 'required', :size => '4' } %>
</p>

<p><strong><%= org_form.label :fax, 'Fax:' %></strong><br />
	<%= org_form.text_field :fax_area_code, { :maxlength => '3', :class => '', :size => '3' } %> -
  <%= org_form.text_field :fax_prefix, { :maxlength => '3', :class => '', :size => '3' } %> -
	<%= org_form.text_field :fax_suffix, { :maxlength => '4', :class => '', :size => '4' } %>
</p>

<p><strong><%= org_form.label :website, 'Website:' %></strong><br />
	<%= org_form.text_field :website, :size => 40, :class => '' %>
</p>

<% end %>

</div>
