<div id="step_3" class="step">

<h1>Step 3: &nbsp;Enter your Political Campaign information:</h1>

<p><i>* required fields</i></p>
<% form.fields_for :organization do |o_form| %>
<% o_form.fields_for :political_campaigns do |c_form| %>

<p><strong><%= c_form.label :candidate_name, '*Candidate Name:' %></strong><br />
    <%= c_form.text_field :candidate_name, :class => 'required' %>
</p>

<p><strong><%= c_form.label :state_id, '*State Campaign is being run in:' %></strong><br />
<%= c_form.collection_select(:state_id, State.active, :id, :name, {:prompt => true }, :class => 'required' ) %>
</p>

<p><strong><%= c_form.label :type, '*Position/Seat level:' %></strong><br />
	<%= c_form.select(:type, PoliticalCampaign::POLITICAL_CAMPAIGN_TYPES, { :prompt => true }, { :class => 'required' }) %> 	
</p>

<div id="seattype" style="display: none;">	
	<p><strong><%= c_form.label :seat_type, '*Please choose:' %></strong><br />
	<%= c_form.select(:seat_type, FederalCampaign::SEAT_TYPES, :prompt => true, :class => '') -%>
</p>	
</div>

<div id="seattype2" style="display: none;">
<p><strong><%= c_form.label :seat_sought, '*Position/Seat Sought:' %></strong><br />
    <%= c_form.text_field :seat_sought, :class => 'required' %>
</p>
</div>

<div id="condist" style="display: none;">	
	<p><strong><%= c_form.label :congressional_district_id, '*Congressional District:' %></strong><br />
	<%= c_form.select(:congressional_district_id, [], {}, :class => '') -%>
</p>	
</div>

<div id="sendist" style="display: none;">	
	<p><strong><%= c_form.label :senate_district_id, '*State Senate District:' %></strong><br />
	<%= c_form.select(:senate_district_id, [], {}, :class => '') -%>
</p>	
</div>

<div id="hosdist" style="display: none;">	
	<p><strong><%= c_form.label :house_district_id, '*State House District:' %></strong><br />
	<%= c_form.select(:house_district_id, [], {}, :class => '') -%>
</p>	
</div>

<div id="countyseat" style="display: none;">	
	<p><strong><%= c_form.label :county_id, '*County:' %></strong><br />
	<%= c_form.select(:county_id, [], {}, :class => '') -%>
	&nbsp;<strong><%= c_form.label :countywide, '*Is this a countywide race?:' -%></strong>	<%= c_form.radio_button(:countywide, 'true', :class => '') -%> Yes &nbsp;
	<%= c_form.radio_button(:countywide, 'false', :class => '') -%> No
</p>	

<div id="notcountywide" style="display: none;">
	<p><strong><%= c_form.label :council_district_id, '*Council District:' %></strong><i>(if applicable)</i><br />
	<%= c_form.select(:council_district_id, [], {}, :class => '') -%>
</p>	
</div>

</div>

<div id="muniseat" style="display: none;">	
	<p><strong><%= c_form.label :city_id, '*Municipality:' %></strong><br />
    <%= c_form.text_field :city_text, :class => '' -%>
	&nbsp;<strong><%= c_form.label :muniwide, '*Is this a municipalwide race?:' -%></strong>	<%= c_form.radio_button(:muniwide, 'true', :class => '') -%> Yes &nbsp;
	<%= c_form.radio_button(:muniwide, 'false', :class => '') -%> No
</p>	

<div id="notmuniwide" style="display: none;">
	<p><strong><%= c_form.label :municipal_district_id, '*Council District:' %></strong><i>(if applicable)</i><br />
	<%= c_form.select(:municipal_district_id, [], {}, :class => '') -%>
</p>	
</div>

</div>

<% end %>
<% end %>

</div>
