<%=title 'User: '+@user.full_name %>

<%= render :partial => 'nav_menu' %>

<p>
	<% if @user.active? %>
		<span style="color: green">Activated</span>
	<% else %>	
		<span style="color: red">Disabled</span>
	<% end %>
</p>

<p>
	<b>Organization: </b>
  <%=link_to @user.organization.name, organization_path(@user.organization.id) rescue nil %>
</p>

<p>
	<b>Login: </b>
	<%=h @user.login %>
</p>

<p>
	<b>Email: </b>
	<%=h @user.email %>
</p>

<p>
	<b>Phone:</b>
	<%=format_phone_number @user.phone %>
</p>
<p>
	<b>Roles:</b>
  <%=h @user.roles.map(&:name).join(', ') %>
</p>
<hr />
<p>
	<b>Last Logged In: </b>
  <%=h format_date_time @user.current_login_at %> from ip <%= @user.current_login_ip %>
</p>

<p>
	<b>Login Count: </b>
  <%=h @user.login_count %>
</p>

<p>
	<b>Failed Login Count: </b>
  <%=h @user.failed_login_count %>
</p>

