<% title "Survey: #{@survey.name}" %>

<%= render :partial => 'nav_menu' %>

<table id="questions" class="form_table">
	<tr width="100%">
		<th align="center">Question</th>
		<th align="center">Response</th></tr>
	<% @survey.questions.each do |question| %>
		<tr valign="top" class="<%= cycle("even","odd") %>"><th><%=h question.question_text %></th>
			<td>
				<table class="form_table" width="100%">
						<% question.results.summary.each do |result| %>
					<tr>
						<th align="right"><%=h question.answers.first(:conditions => ['answer_key = ?', result.answer]).answer_text rescue "Undefined:#{result.answer}" %>
						</th>
						<td align="left"><%= number_with_delimiter(result.count.to_i) %> (<%= number_to_percentage(result.response_percent(result.count.to_i, question.total_responders), :precision => 0) %>)</td>
					</tr>	
					<% end %>
					<tr>
						<th align="right">Total Responders</th>
						<td align="left">
							<%= number_with_delimiter(question.total_responders) %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	<% end %>
</table>

