<% title "Robocall Campaign: #{@robocall_campaign.name}" %>

<%= render :partial => 'nav_menu' %>

<p>
  <strong>Robocall List: </strong>
  <%=h @robocall_campaign.contact_list.name %>
	&nbsp; <%=link_to 'Download Robocall List', robocall_list_report_path(@robocall_campaign.contact_list.id, :report_type => 'robocall_list', :format => 'csv') %>
</p>

<p>
  <strong>Caller ID: </strong>
  <%=format_phone_number @robocall_campaign.caller_id %>
</p>

<p>
	<strong>Live Answer Sound File: </strong>
	<% if !@robocall_campaign.live_answer_attachment.nil? %>
		<%=link_to h(@robocall_campaign.live_answer_attachment.name), robocall_campaign_report_path(@robocall_campaign.id, :report_type => 'live_answer', :format => @robocall_campaign.live_answer_attachment.file_extension ) %>
	<% else %>
		none
	<% end %>
</p>

<p>
	<strong>Answer Machine Sound File: </strong>
	<% if @robocall_campaign.single_sound_file == true %>
		<% if !@robocall_campaign.answer_machine_attachment.nil? %>
			<%=link_to h(@robocall_campaign.answer_machine_attachment.name), robocall_campaign_report_path(@robocall_campaign.id, :report_type => 'answer_machine', :format =>  @robocall_campaign.answer_machine_attachment.file_extension ) %>
		<% else %>
			none
		<% end %>
	<% else %>
		<% if !@robocall_answer_machine_attachment.nil? %>
			<%=link_to h(@robocall_campaign.answer_machine_attachment.name), robocall_campaign_report_path(@robocall_campaign.id, :report_type => 'answer_machine', :format =>  @robocall_campaign.answer_machine_attachment.file_extension ) %>
		<% else %>
			none
		<% end %>
	<% end %>
</p>

<p>
	<strong>Scrub against DNC? </strong>
	<%=h @robocall_campaign.scrub_dnc ? 'YES' : 'NO' %>
</p>

<h3>STATUS:</h3>
<p>
	<strong><%= @robocall_campaign.status_display %></strong>
<p/>

