<div id="question_<%= "#{@sequence}" %>" class="question">
<% fields_for "survey[questions_attributes][]", survey_question do |f| %>
	<p>
		Question: <%= f.text_field :question_text, :index => nil %>
		<% if survey_question.new_record? %>
			<%= link_to_function "remove", "$(this).up('.question').remove()" %>
		<% else %>
			<%= link_to_function "remove", "mark_for_destroy(this)" %>
			<%= f.hidden_field :should_destroy, :index => nil %>
			<%= f.hidden_field :id, :index => nil, :class => 'should_destroy' %>
		<% end %>

		<p>
			<div id="answers_<%= "#{@sequence}" %>">
				<%= render :partial => 'survey_answers/survey_answer', :collection => survey_question.answers %>
			</div>
			<p>
				<%= link_to_function 'Add an answer', "add_survey_answer(#{@sequence})" %>
			</p>	
		</p>

	</p>
<% end %>
</div>

