<% form_for(@survey, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<% f.fields_for :survey_attachment do |a| %>
		<p>
			Survey Results File: <br />
			<%= a.file_field :data  %><br /><br /> 
		</p>
	<% end %>

	<p>
		<%=f.label :political_campaign_id, 'For Political Campaign:' %><br />
		<%=f.collection_select(:political_campaign_id, PoliticalCampaign.populated, :id, :campaign_description, { :prompt => true }, :class => 'required') %>
	</p>

  <p>
    <%= f.label :name, 'Enter a unique name for this Survey:' %><br />
    <%= f.text_field :name %>
  </p>

	<p>
		<div id="questions">
			<%= render :partial => 'survey_questions/question', :collection => @survey.questions %>
		</div>
		<p>
			<%= link_to_function 'Add a question', 'add_survey_question()' %>
		</p>	
	</p>

  <p>
		<%= f.hidden_field :upload_list %>
		<%= f.hidden_field :do_mapping %>
  	<%= f.submit @survey.new_record? ? 'Create Survey' : 'Save Changes', { :onclick => "set_map_values();" } %></p>
<% end %>
