<% title "Append Survey Results" %>

<% form_for(@survey, :url => { :action => 'append' }, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'survey_attachment', :collection => @survey.survey_attachments, :locals => { :form => f } %>

  <p>
		<%= f.hidden_field :upload_list %>
		<%= f.hidden_field :do_mapping %>
		<%= f.hidden_field :mapped_fields %>
  	<%= f.submit 'Append Results Now' %></p>
<% end %>

<p><%= link_to "Cancel and return to Surveys", surveys_path %></p>

