<% title "Survey: #{@survey.name}" %>

<%= render :partial => 'nav_menu' %>

<p>
	Campaign: <%=h @survey.political_campaign.campaign_description %>
</p>

<p>
  <strong>Voter Count:</strong>
  <%=@survey.populated? ? number_with_delimiter(@survey.constituent_count) : '*Populating' %>
</p>

<p>
	<strong>Imported Files</strong>
	<table class="form_table">
		<tr>
			<th>Date Uploaded</th>
			<th>File Name</th>
			<th></th>
		</tr>
		<% @survey.survey_attachments.all(:order => 'created_at DESC').each_with_index do |attachment,index| %>
			<tr>
				<td><%=format_date_time(attachment.created_at) %></td>
				<td><%=h attachment.name %></td>
				<% if index == @survey.survey_attachments.size-1 &&  @survey.upload_list == true && @survey.need_mapping == true %>
					<td><%=link_to 'Finish Importing This File (not mapped and imported yet)', map_fields_survey_path(@survey) %></td>
				<% else %>
					<td>&nbsp;</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</p>

<table id="questions" class="form_table">
	<tr width="100%">
		<th align="center">Question</th>
		<th align="center">Result</th></tr>
	<% @survey.questions.each do |question| %>
		<tr class="<%= cycle("even","odd") %>"><td><%=h question.question_text %></td>
			<td>
				<table class="form_table" width="100%">
					<tr>
						<% question.results.summary.each do |result| %>
						<th align="center"><%=h question.answers.first(:conditions => ['answer_key = ?', result.answer]).answer_text rescue "Undefined:#{result.answer}" %>
						</th>
					<% end %>
						<th align="center">Total Responders</th>
					</tr>
					<tr>
						<% question.results.summary.each do |result| %>
							<td align="center"><%= number_with_delimiter(result.count.to_i) %> (<%= number_to_percentage(result.response_percent(result.count.to_i, question.total_responders), :precision => 0) %>)</td>
						<% end %>
						<td align="center">
							<%= number_with_delimiter(question.total_responders) %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	<% end %>
</table>

