<p align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="10" align="center">
	<tr>
	<% if @campaigns %>
		<td><%=link_to 'Create Campaign', new_campaign_path %></td>
		<td><%=link_to 'Refresh Campaigns', campaigns_path %></td>
	<% end %>	
	<% if @campaign && !@campaign.new_record? %>
		<td><%=link_to 'List Campaigns', campaigns_path %></td>
		<td><%= link_to 'View Campaign', @campaign %></td>
		<td><%= link_to 'Delete Campaign', @campaign, :confirm => 'Are you sure you want to permanently delete this Campaign?', :method => :delete %></td>
		<% if @campaign.schedule == false && @campaign.is_editable? %>
			<td><%= link_to 'Schedule', edit_campaign_path(@campaign) %></td>
		<% end %>	
		<% if @campaign.status == 'Scheduled' %>
			<td><%= link_to "Unschedule", unschedule_campaign_path(@campaign), :confirm => 'Are you sure you wish to cancel the Scheduled sending of this Campaign?' %></td>
		<% end %>	
	</tr>
  <% end %>
</table>
</p>

