<% title "County Campaign: #{@county_campaign.campaign_description}" %>
<%= render :partial => 'nav_menu' %>
<p>
	<strong># Of Voters:</strong> 
<%=@county_campaign.populated? ? number_with_delimiter(@county_campaign.constituent_count) : '*Populating' %>
</p>

<p>
  <strong>Candidate Name:</strong>
  <%=h @county_campaign.candidate_name %>
</p>
<p>
  <strong>Seat Sought:</strong>
  <%=h @county_campaign.seat_sought %>
</p>
<p>
  <strong>State:</strong>
  <%=h @county_campaign.state.name %>
</p>
<p>
  <strong>County:</strong>
  <%=h @county_campaign.county.name %>
</p>
<p>
  <strong>Countywide:</strong>
  <%=h @county_campaign.countywide %>
</p>
<p>
  <strong>Council District:</strong>
  <%=h @county_campaign.council_district.cd rescue nil %>
</p>
<p>
  <strong>Organization:</strong>
  <%=link_to h(@county_campaign.organization.name), @county_campaign.organization %>
</p>

<hr />

<h1>Contact Lists</h1>

<%= render :partial => 'contact_lists/index' %>

<h1>Campaigns Ordered</h1>

<%= render :partial => 'campaigns/index' %>

