
  <%= f.error_messages %>
  <p>
    <%= f.label :candidate_name %><br />
    <%= f.text_field :candidate_name %>
  </p>
  <p>
    <%= f.label :seat_sought %><br />
    <%= f.text_field :seat_sought %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= f.text_field :state_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :seat_type %><br />
    <%= f.text_field :seat_type %>
  </p>
  <p>
    <%= f.label :congressional_district_id %><br />
    <%= f.text_field :congressional_district_id %>
  </p>
  <p>
    <%= f.label :senate_district_id %><br />
    <%= f.text_field :senate_district_id %>
  </p>
  <p>
    <%= f.label :house_district_id %><br />
    <%= f.text_field :house_district_id %>
  </p>
  <p>
    <%= f.label :county_id %><br />
    <%= f.text_field :county_id %>
  </p>
  <p>
    <%= f.label :countywide %><br />
    <%= f.check_box :countywide %>
  </p>
  <p>
    <%= f.label :council_district_id %><br />
    <%= f.text_field :council_district_id %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.text_field :city_id %>
  </p>
  <p>
    <%= f.label :muniwide %><br />
    <%= f.check_box :muniwide %>
  </p>
  <p>
    <%= f.label :organization_id %><br />
    <%= f.text_field :organization_id %>
  </p>
  <p>
    <%= f.label :municipal_district_id %><br />
    <%= f.text_field :municipal_district_id %>
  </p>

