<table>
  <tr>
    <th>Campaign Description</th>
    <th>ST</th>
    <th>Organization</th>
    <th>Voters</th>
  </tr>
  
  <% for political_campaign in @political_campaigns %>
    <tr>
      <td><%= link_to h(political_campaign.campaign_description), political_campaign %></td>
      <td><%=h political_campaign.state.abbrev %></td>
      <td><%=link_to political_campaign.organization.name, organization_path(political_campaign.organization.id) %></td>
      <td><%=political_campaign.populated? ? number_with_delimiter(political_campaign.constituent_count) : '*Populating' %></td>
      <td><%= link_to "Edit", get_edit_political_campaign_path(political_campaign) %></td>
    </tr>
  <% end %>
</table>

