<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= h(yield(:title)) -%> : Political Boost</title>
<%= stylesheet_link_tag 'application', 'default' %>
<%= yield(:head) %>
</head>

<body>
<div id="wrapper">

<div id="header">
<div id="logoMain"><a href="/index.html"><%= image_tag('pblogo.gif', :alt => 'Political Boost', :width => '295', :height => '64', :border => '0') %></div> 
<!-- end logoMain -->
<div id="navMain">
<ul> 
<li><a href="/index.html">Home</a></li>
<li><a href="/aboutus.html">About</a></li>
<li><a href="/services.html">Services</a></li>
<li><a href="/requestquote.html">Quote</a></li>
<li><a href="/contactus.html">Contact</a></li>
<% if current_user.nil? %>
<%= li_navigation_tag('users', 'new') %><%=link_to 'Signup', signup_url -%></li>
<% else %>
<%= li_navigation_tag('customer|admin', 'index') %><%=link_to 'Control Panel', which_control_panel -%></li>
<% end %>
<%= li_navigation_tag('user_sessions', 'new') %>
	<% if current_user.nil? %>
		<%= link_to('Login', login_url) -%>
	<% else %>
		<%= link_to('Logout', logout_url) -%>
	<% end %>
</li>
</ul>
</div> <!-- end navMain -->
<div class="clearheader"></div>
</div> <!-- end header -->

<div id="contentWrapper">

<div id="contentAppMain">
<div id="content_body">
	<% if current_political_campaign %>
		<p>
			<strong>Political Campaign:</strong>
			<%=h current_political_campaign.campaign_description -%> <%=current_political_campaign.populated? ? '(' + number_with_delimiter(current_political_campaign.constituent_count)+ ' Constituents)' : '(*Populating Constituents)' %>
		</p>
	<% end %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
    
    <%- if show_title? -%>
      <h1><%=h yield(:title) %></h1>
    <%- end -%>

   <%= yield %>
   &nbsp;<br />
   &nbsp;<br /> 
</div>
</div> <!-- end contentMain -->

<% if current_user.nil? %>
	<%= render :partial => 'shared/sidebar_public' %>
<% end %>

<div class="clearboth"></div>
</div> <!-- end contentWrapper -->
</div> <!-- end wrapper -->

<div id="footer">
<div>
&copy;2010 PoliticalBoost.com. &nbsp&nbsp All rights reserved.  &nbsp&nbsp<a href="/privacy.html">Privacy Policy</a> &nbsp&nbsp<a href="/tos.html">Terms of Service</a> &nbsp&nbsp<a href="/legal.html">Legal Disclaimer</a>&nbsp&nbsp<a href="/sitemap.html">Site Map</a> &nbsp&nbsp<a href="http://dryicons.com/"></a><a href="http://www.addme.com/submission/free-submission-start.php">Search Engine Submission - AddMe</a></div>
</div> <!-- end footer -->
</body>
</html>

